<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.wowtour.account.dao.AccountDao">
	<resultMap id="AccountMap" type="com.wowtour.account.entity.Account">
		<id column="id" property="id" />
		<result column="username" property="username" />
		<result column="nick_name" property="nickName" />
		<result column="password" property="password" />
		<result column="mobile" property="mobile" />
		<result column="email" property="email" />
		<result column="user_type" property="userType" />
		<result column="s_token" property="s_token" />
		<result column="login_time" property="loginTime" />
		<result column="disabled" property="disabled" />
		<result column="photoURL" property="photoURL" />
	</resultMap>
	
	<!--保存 -->
	<insert id="save" parameterType="com.wowtour.account.entity.Account"
		useGeneratedKeys="true" keyProperty="id">
		insert into account
		<trim prefix="(" suffix=")" suffixOverrides=",">
			<if test="username != null">username,</if>
			<if test="nickName != null">nick_name,</if>
			<if test="password != null">password,</if>
			<if test="mobile != null">mobile,</if>
			<if test="email != null">email,</if>
			<if test="userType != null">user_type,</if>
			<if test="loginTime != null">login_time,</if>
			<if test="disabled != null">disabled,</if>
			<if test="birthday != null">birthday,</if>
			<if test="sex != null">sex,</if>
			<if test="signature != null">signature,</if>
			<if test="city != null">city,</if>
			<if test="photoURL != null">photoURL,</if>
		</trim>
		<trim prefix="values (" suffix=")" suffixOverrides=",">
			<if test="username != null">#{username},</if>
			<if test="nickName != null">#{nickName},</if>
			<if test="password != null">#{password},</if>
			<if test="mobile != null">#{mobile},</if>
			<if test="email != null">#{email},</if>
			<if test="userType != null">#{userType},</if>
			<if test="loginTime != null">#{loginTime},</if>
			<if test="disabled != null">#{disabled},</if>
			<if test="birthday != null">#{birthday},</if>
			<if test="sex != null">#{sex},</if>
			<if test="signature != null">#{signature},</if>
			<if test="city != null">#{city},</if>
			<if test="photoURL != null">#{photoURL},</if>
		</trim>
	</insert>
	
	<!--修改 -->
	<update id="update" parameterType="com.wowtour.account.entity.Account">
		update account
		<set>
			<if test="username != null">
				username=#{ username },
			</if>
			<if test="nickName != null">
				nick_name=#{ nickName },
			</if>
			<if test="password != null">
				password=#{ password },
			</if>
			<if test="mobile != null">
				mobile=#{ mobile },
			</if>
			<if test="email != null">
				email=#{ email },
			</if>
			<if test="userType != null">
				user_type=#{ userType },
			</if>
			<if test="loginTime != null">
				login_time=#{ loginTime },
			</if>
			<if test="disabled != null">
				disabled=#{ disabled },
			</if>
			<if test="s_token != null">
				s_token=#{ s_token },
			</if>
			<if test="photoURL != null">
				photoURL=#{ photoURL },
			</if>
		</set>
		where
		id=#{ id }
	</update>

	<!--查询 -->
	<select id="findById" resultMap="AccountMap" parameterType="java.lang.Long">
		select *
		from account
		where
		id=#{ id }
	</select>
	
	<select id="selectByUsername" resultMap="AccountMap">
		select *
		from account
		where 1=1 and email=#{username} and disabled=0
	</select>

	<select id="checkSameEmail" resultType="java.lang.Integer">
		select count(1) from account where email =#{email} and disabled=0
	</select>
	
	<select id="getUserNameByID" resultType="java.lang.String">
		select userName from account where id =#{userID}
	</select>
	
	<select id="getFriends" resultMap="AccountMap" parameterType="java.lang.Long">
		select * from account where id in (select userId from friends where userId= #{userID} and status = 0)
	</select>
	
	<select id="getAllMemberbyGroup" resultMap="AccountMap" parameterType="java.lang.Long">
		select * from account where id in (select userId from group_members where userId= #{userID} and status = 0)
	</select>
	
	<select id="getIdbyEmail" resultType="java.lang.Long">
		select id from account where email = #{email} limit 1
	</select>
</mapper> 