<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
    PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
    "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.yl.dao.ShuoShuoMapper">
	<sql id="ShuoShuoColumns">
		A.id,
		A.member_id
<!-- 		A.imgurl,
		A.contend,
		A.hits,
		A.likes,
		A.create_Date,
		A.modify_Date -->
	</sql>
		<sql id="shuoshuoCommentColumns">
		r.id,
		r.member_id,
		r.content,
		r.shuoshuo_id,
		r.parent,
		r.create_Date,
		r.modify_Date

	</sql>
		<sql id="commentJoins">
		left JOIN lm_shuoshuo_comment r on A.id = r.shuoshuo_id
	</sql>
	<select id="get" resultType="ShuoShuo" parameterType="long">
		select
		id,content
		from lm_shuoshuo a where id=#{id}
	</select>

	<select id="getUser" resultType="ShuoShuo" parameterType="long">
		select
		<include refid="ShuoShuoColumns" />
		from lm_shuoshuo where id=#{id}
	</select>

	<select id="getList" resultType="ShuoShuo" >
		select
		<include refid="ShuoShuoColumns" />
		from lm_shuoshuo
	</select>

		<select id="findAllCommentList" resultType="shuoShuoComment" >
		select
		<include refid="shuoshuoCommentColumns" />
		from lm_shuoshuo A
		<include refid="commentJoins" />
		where A.id=#{id}
	</select>
</mapper>
